.contenedor2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

}

.contenedor2 div{
    background-color: rgb(73, 5, 31);
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.contenedor2-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

}

.contenedor2-2 div{
    background-color: rgb(66, 7, 143);
    color: white;
    padding: 25px;
    text-align: center;
    border-radius: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

.contenedor2-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;

}

.contenedor2-3 div{
    background-color: rgb(11, 82, 2);
    color: white;
    padding: 25px;
    text-align: center;
    border-radius: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}

